.activ, .hedactiv{
	color: #000;
	cursor: pointer;
}
.activ:hover {
	color: #08aef1;
}
/*
.accordion .title,
.accordion .content {
	cursor: pointer;
	font: bold 14px Verdana;
	color: #788781;
}
.accordion .content p{
	padding-top: 5px;
	padding-left: 10px;
}
.accordion .title ~ .content {
  display: none;
}
.accordion .active.content {
	display: block;
}*/

