header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-around;
  height: 49px;
  background-color: #08aef1;
  opacity: 0.9;
  z-index: 1000;
}
.headContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
/*
  #logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 120px;
    height: 46px;
    margin-top: 3px;
  }
  /*
  #logo:hover {
    background-image: url("../images/logoHover.png");
  }*/

.menu {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

.menu > li > a {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.menu > li > a:hover {
  color: rgb(128, 125, 125);
}
