* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Verdana, sans-serif;
}
