.login {
  display: block;
  margin: 50px 0 50px 0;
}
.buttons > button {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #999;
  text-decoration: none;
  padding: 0.8em 2.8em;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 2px;
  background: inherit;
  transition: all 0.218s ease 0s;
}
.buttons > button:hover {
  color: rgb(34, 61, 107);
  border: 2px solid rgb(34, 61, 107);
}
.group {
  position: relative;
  margin-bottom: 30px;
}
.group > input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 2px solid #ccc;
}
.group > input:focus {
  outline: none;
}
.group > label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group > input:focus ~ label,
.group > input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: rgb(34, 61, 107);
}
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: rgb(34, 61, 107);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.group > input:focus ~ .bar:before,
.group > input:focus ~ .bar:after {
  width: 50%;
}
